@import '../../style/variables';

.home{
    .welcome-section{
        padding: 8px*2;    
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        .welcome-message{
            .actions{
                display: flex;
                justify-content: flex-end;
            }
        }
        .actions{
            display: flex;
            justify-content: flex-end;
        }
        animation: fadeInLeft 0.5s ease-out 0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        

    }
    .section{
        padding: 8px;
        opacity: 0;
        transform: translateX(8px);
        transition: opacity 0.5s, transform 0.5s;
        
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                $delay: 0.1s + 0.8s * ($i - 1);
                animation: fadeInUp 0.1s ease-out $delay;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
                .projects{
                    .project{
                        opacity: 0;
                    transform: translateY(-8px);
                    transition: opacity 0.5s, transform 0.5s;
                    
                    @for $j from 1 through 10 {
                        &:nth-child(#{$j}) {
                            $delay2: 0.1*($i - 1) + 0.9s + 0.05s * ($j - 1);
                            animation: fadeInUp 0.1s ease-out $delay2;
                            animation-fill-mode: forwards;
                            animation-timing-function: ease-out;
                        }
                    }
                    }
                }
            }
        }
        .section-heading{
            font-weight: 400;
            padding: 8px*1 0;
            margin-left: 8px;
            margin-top: 8px*2;
            margin-bottom: 8px*2;
            border-bottom: 1px solid $dark-1;
            color: $gray3-default-light;
            a{
                font-size: 0.9rem;
                font-weight: 400;
                float: right;
                color: $green-default-dark;
                text-decoration: underline;
                margin: 0 8px*1;
            }
        }
        .projects{
            padding: 0 8px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 8px*2;
            width: 100%;
            .project{
                width: 100%;
                padding: 8px*1;
                display: grid;
                grid-template-columns: 8px*8 auto 8px*2;
                background-color: $dark-3;
                border-radius: $border-radius-1;
                @include boxShadow;
                @include boxed;
                transition-duration: 0.2s;
                &:hover{
                    border: 1px solid $gray4-accessible-dark;
                    transition-duration: 0.4s;
                    box-shadow: 0 0 8px 4px #14562413;
                }
                .project-cover{
                    height: 8px*8;
                    width: 8px*8;
                    border-radius: 50%;
                    border: 1px solid $gray-accessible-dark;
                }
                .project-details{
                    display: grid;
                    gap: 4px;
        
                    margin: 8px;
                    .project-type{
                    line-height: 8px*2.5;
                    font-weight: 400;
                    font-size: 0.8rem;
                    color: $gray3-default-dark;
                    }
                }
                .project-options{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .pin{
                        opacity: 0.5;
                        .pin-label{
                            font-size: 0.9rem;
                            display: inline-block;
                            padding: 4px 0;
                            margin: 4px;
                            border-radius: 4px;
                            color: $gray2-default-dark;
                        }
                        .pin-number{
                            font-size: 0.9rem;
                            display: inline-block;
                            background-color: $dark-1;
                            padding: 4px 8px;
                            margin: 4px;
                            border-radius: 4px;
                            border: 1px solid $dark-0;
                        }
                    }
                }
                opacity: 0;
                transform: translateY(-8px);
                transition: opacity 0.5s, transform 0.5s;
                
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        $delay: 1.0s + 0.05s * ($i - 1);
                        animation: fadeInUp 0.1s ease-out $delay;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease-out;
                    }
                }
            }
            .message{
                color: $gray4-default-dark;
            }
            
            &.completed{
                h3::after{
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-left: 8px*1;
                    content: 'Client Approved';
                    color: $gray3-default-dark;
                }
                .project{
                    grid-template-columns: auto 8px*16;

                    .project-options{
                        align-items: center;
                    }
                }
            }
        }
        &.approval-pending{
            .project-options{
                display:grid !important;
            }
        }
    }
}
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(8px*4);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }