@import '../../style/variables';
.projects-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 8px*2 8px*3;
    h1{

    animation: fadeInLeft 0.5s ease-out 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    }
    .actions{
        display: flex;
        justify-content: flex-end;
    }
}
@keyframes delete-caution {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(-8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }




  .projects-list{
    padding: 0 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px*3;
    width: 100%;
    padding: 8px*3;
    padding-top: 8px;
    
    .message{
        color: $gray4-default-dark;
    }
    
    &.completed{
        h3::after{
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 8px*1;
            content: 'Client Approved';
            color: $gray3-default-dark;
        }
        .project{
            grid-template-columns: auto 8px*16;

            .project-options{
                align-items: center;
            }
        }
    }
}

//write a media quer for divces less than 1200px
@media only screen and (max-width: 1500px) {
    .projects-list{
        gap: 8PX*4;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1200px) {
    .projects-list{
        gap: 8PX*8;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 1080px) {
    .projects-list{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media only screen and (max-width: 960px) {
    .projects-list{
        grid-template-columns: 1fr 1fr  ;
    }
}
@media only screen and (max-width: 860px) {
    .projects-list{
        grid-template-columns: 1fr 1fr  ;
    }
}
@media only screen and (max-width: 580px) {
    .projects-list{
        grid-template-columns: 1fr 1fr  ;
    }
}
@media only screen and (max-width: 640px) {
    .projects-list{
        grid-template-columns: 1fr  ;
    }
}
@media only screen and (max-width: 480px) {
    .projects-list{
        grid-template-columns: 1fr  ;
    }
}