@import './variables';
.button{
    display: inline-block;
    padding: 4px 8px*2;
    border-radius: 4px;
    font-size: 0.9rem;
    height: 8px*3.5;
    margin: 4px;
    font-weight: 600;
    cursor: pointer;
    &.primary{
        background-color: $green-accessible-light;
    }
    &.secondary{
        background-color: $dark-2;
        border: 1px solid $gray4-default-dark;
        &.light-mode{
            background-color: white;
            border: 1px solid $gray-accessible-dark;
            color: black;
        }
    }
    &.tertiary{
        background-color: $dark-1;
        border: 1px solid $dark-0;
    }
    &.warnning{
        background-color: $dark-1;
        padding: 4px 8px;
        border: 1px solid $gray4-default-dark;
        &:hover{
            border: 1px solid $red-default-dark;
        }
    }
    &.disabled {
        
        opacity: 0.2;
        cursor: not-allowed;
    }
}
