@import '../../style/_variables.scss';
.storage-page{
    padding: 8px*4;
    .page-header{
        padding: 8px*2;
    }
    .storage-info{
        padding: 8px*2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px*5;
        .storage-pie-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            .storage-pie{
                width: 8px*20;
                height: 8px*20;
                border-radius: 100%;
                border: 8px solid $gray3-accessible-dark;
            }
            .available-storage{
                stroke: $dark-3;
            }
            .used-storage{
                stroke: $green-default-dark;
                // add drop shadow that glows
                filter: drop-shadow(0 0 2px $green-dark-accessible-light)
            }
            .used-storage-text{
                font-weight: 700;
                font-size: 0.95rem;
                fill: $green-default-light;
            }
            .available-storage-text{
                font-weight: 400;
                font-size: 0.4rem;
                fill: $gray2-accessible-dark;
                // space between letters
                letter-spacing: -0.05rem;
            }
        }
        .storage-insight{
            text-align: center;
            color: $gray-accessible-dark;
        }
        .storage-subscription{
            width: 8px*80;

        }
    }
    section{
        margin: 8px*2;
        margin-bottom: 8px*4;
        h2{
            margin-bottom: 8px;
        }
        .bar{
            display: flex;
            height: 8px*8;
            border: 1px solid $gray5-accessible-dark;
            background-color: $dark-1;
            border-radius: 8px;
            overflow: hidden;
            .used{
                width: 33.5%;
                height: 100%;
                background-color: $green-accessible-light;
                border: 2px solid $green-accessible-light;
            }
            .duplicates{
                width: 10%;
                height: 100%;
                background-color: $gray3-accessible-dark;
                border: 2px solid $gray3-accessible-dark;
            }
            .videos{
                width: 20%;
                height: 100%;
                background-color: $green-dark-accessible-light;
                border: 2px solid $green-dark-accessible-light;
            }
        }
    }
    .breakdown{
        &.projects{
            .row{
                padding: 8px 8px*2;
                h3{
                    margin-bottom: 2px;
                }
            }
            .project-info{
                display: flex;
                justify-content: start;
                gap:8px;
                padding: 0;
                font-size: 0.8rem;
            }
        }
    }

    .row-group{ 
        border: 1px solid $gray5-accessible-dark;
        border-radius: 8px;
        .row{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            padding: 8px*3;
            border-bottom: 1px solid $gray5-accessible-dark;
            &:last-child{
                border-bottom: none;
            }
            .box-content{
                h2{
                    font-weight: 400;
                    margin-bottom: 4px;
                }
                p{
                    color: $gray2-accessible-dark;
                }
            }
        }
    }
}